main {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 1em;
  }
  .article-header button{
    margin-top: 1em;
  }
  
  .container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    margin: 1em;
    width: 31%;
    padding: 1em;
  }

  .article-card-content button {
    margin-right: .5em;
    width: 5em;
  }

  .styleFriendEventCardArticle {
    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    margin: 1em;
    width: 40%;
    padding: 1em;
    background-color: cornsilk;
    border: 2px yellow solid;   
}

.styleYourEventCardArticle {
    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    margin: 1em;
    width: 40%;
    padding: 1em;
    border: 2px lightgray solid;   
}

.container-cards > :first-child {
    font-weight: bolder;
    flex: 0 0 65%;
    background-color: #C8F2EF;
    border: 2px lightblue solid;   
}

  