.taskForm {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 1em;
    width: 30%;
}

.form-group {
  margin-top: .5em;
}

.taskForm button {
  margin-top: 1.5em;
  width: 40%;
  margin-right: 1em;
}
