main {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 1em;
}
.friend-header button{
  margin-top:.5em;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  -ms-flex-align: start;
  margin: 1em;
  width: 31%;
  padding: 1em;
}

.card-header {
  display: flex;
  align-items: center;
}

.card-header input {
  margin-right: 1em;
}
