
main {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    margin-top: 1em;
}

.section-content button{
    margin-top: .5em;
}

.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    
}

.card {
    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    margin: 1em;
    width: 40%;
    padding: 1em;   
}

.card-buttons-div {
    display: flex;  
}

.card-button {
    margin-top: 1em;
    margin-right: 1em;
}


.container-cards > :first-child div {
    padding: .5em;
}



a {
    text-decoration: none !important;
}

.styleFriendEvent {
    font-style: italic;
    background-color: cornsilk;
    padding: 0.5em;
}

.styleFriendEventCard {
    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    margin: 1em;
    width: 40%;
    padding: 1em;
    background-color: cornsilk;
    border: 2px yellow solid;   
}

.styleYourEventCard {
    display: flex;
    flex-direction: column;
    -ms-flex-align: start;
    margin: 1em;
    width: 40%;
    padding: 1em;
    border: 2px lightgray solid;   
}

.container-cards > :first-child {
    font-weight: bolder;
    flex: 0 0 65%;
}